.nav-link{
    color: wheat;
}

.nav1,.nav3{
    background-color: rgb(245, 245, 245);
}
.nav1,.nav2,.nav3{
    height: auto;
}

.nav-link{
    color: black;
    font-weight: bold;
}
.ft>.fa{
    color: white;
}
/* ------------------------------------------------------------ */
.btn1{
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: larger;
    border: none;
}
.btn2{
    background-color: white;
    color: black;
    font-weight: 500;
    font-size: larger;
    border:2px solid rgb(229, 229, 229);
}

.fa{
    color: black;

}
.mt5>.btn{
    background-color: white;

}

.ft>.fa{
    color: white;
}